
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {

    font-family: "PT Serif", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;

}

a {
    text-decoration: none;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 320px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.active {
    display: block;
}

/*Header styles start*/
.header__basement {
    height: 46px;
}

.header__bar {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header__wrapper {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    height: 46px;
    background: #181818;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 999;
}

.header__brain-img {
    height: 46px;
    width: 46px;
    background: url("../img/header__brain-img.png") no-repeat;
    background-size: contain;
    margin-right: 9px;
}

.header__test-block-title p {
    font-family: 'Yeseva One', cursive;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFC700;
}

.header__result-block-title {
    position: absolute;
    margin-left: 110px;
}

.header__result-block-title p {
    font-family: 'Yeseva One', cursive;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFC700;
}

.header__nav {
    width: 320px;
    height: 100%;
    position: fixed;
    background: #181818;
    z-index: 10;
    transform: translateY(-100%);
    transition: .2s all linear;
}

.header__nav_active {
    transform: translateY(0);
}

.header__list {
    margin-top: 110px;
    margin-left: 23px;
}

.header__nav-close {
    width: 28px;
    height: 28px;
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 20px;
    z-index: 11;
    background: url("../img/header__nav-close-icon.png") no-repeat center;
}

.header__link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 58px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 27px;
}

.header__link.yellow {
    color: #F4CE0C;
    cursor: pointer;
}

.header__link:hover,
.header__link:focus,
.header__link:active,
.header__nav-close:hover,
.header__nav-close:focus,
.header__nav-close:active {
    opacity: 75%;
}

.header__burger {
    margin: 17px 9px 13px 15px;
    display: block;
    width: 24px;
    height: 16px;
    position: relative;
}

.burger__line {
    width: 100%;
    height: 3px;
    background-color: darkgrey;
    position: absolute;
    left: 0;
}

.burger__line_first {
    top: 0;
}

.burger__line_second {
    top: 50%;
    transform: translateY(-50%);
}

.burger__line_third {
    bottom: 0;
}

/*Header styles end*/


/*                                           Main block styles start                         */

/*Proposal styles start*/

.proposal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    min-height: 647px;
    background: url(../img/proposal__bg-img.png) no-repeat center;
    background-size: cover;
    padding-top: 23px;
}

.proposal__text-block-1 {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.05em;
    margin-bottom: 23px;
}

.proposal__text-block-2 {
    height: 165px;
    font-family: "Yeseva One", cursive;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFC700;
    margin-bottom: 90px;
}

.proposal__button {
    width: 189px;
    height: 41px;
    background: radial-gradient(50% 50% at 50% 50%, #FFC700 0%, #FFC700 100%);
    border-radius: 20px;
    border: 1px solid black;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #0D0C11;
    margin-bottom: 22px;
}

.proposal__text-block-3 p {
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
}

.proposal__text-block-3 p span {
    color: #FFC700;
}

.proposal__arrow {
    width: 16px;
    height: 16px;
    background: white url(../img/proposal__arrow.png) no-repeat center;
    border-radius: 50%;
    margin: 0 auto 6px;
}

.proposal__arrow a {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.proposal__details {
    font-size: 8px;
    line-height: 11px;
    letter-spacing: 0.05em;
}

/*Proposal styles end*/

/*Quote styles start*/
.shift-content {
    position: absolute;
    left: 50%;
    margin-left: -160px;
    transform: translateY(-110px);
}

.quote__wrapper {
    position: relative;
}

.quote__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 339px;
    background: url(../img/quote__bg-img.png) no-repeat center;
    background-size: cover;
}

.quote__img-top {
    height: 23px;
    width: 23px;
    background: transparent url(../img/quote__img-top.png) no-repeat;
    position: absolute;
    top: 43px;
    left: 24px
}

.quote__text-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 83px 36px 28px;
}

.quote__text-block p {
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.05em;
}

.quote__img-bottom {
    height: 23px;
    width: 23px;
    background: transparent url(../img/quote__img-bottom.png) no-repeat;
    position: absolute;
    right: 29px;
    bottom: 33px;
}

/*Quote styles end*/

/*Advice styles start*/

.advice__wrapper {
    background: white;
}

.advice__text-block {
    padding: 38px 11px;
}

.advice__text-block p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #272727
}

.advice__text-block span {
    font-weight: 700;
}

.advice__text-block span.uppercase {
    text-transform: uppercase;
}

.advice__image img {
    display: block;

    margin: 0 auto;
}

.advice__button-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 38px;
}

.advice__button {
    width: 200px;
    height: 44px;
    background: #FFC700;
    border: 1px solid black;
    border-radius: 50px;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #0D0C11;
    margin: 0 auto;
}

/*Advice styles end*/

/*Details styles start*/

.details__wrapper {
    background: url(../img/details__bg-img.png) no-repeat center;
    position: relative;
}

.details__text-block-1 {
    padding: 56px 0 26px 11px;
}

.details__text-block-1 p {
    font-family: 'Merriweather', serif;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.05em;
}

.details__text-block-1 p span {
    color: #FFC700;
}

.details__lightning-right {
    position: absolute;
    width: 165px;
    height: 165px;
    left: 198px;
    top: 68px;
    background: url(../img/details__lightning-img-right.png) no-repeat;
}

.details__lightning-left {
    position: absolute;
    width: 127px;
    height: 227px;
    top: 280px;
    background: url(../img/details__lightning-img-left.png) no-repeat;
}

.details__text-block-2 {
    height: 216px;
    width: 303px;
    padding: 30px 14px;
    background: rgba(243, 243, 242, 0.8);
    border-radius: 20px;
    margin: 0 auto 33px;
}

.details__text-block-2 p {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.05em;
    color: #181818;
}

.details__text-block-2 p span {
    font-weight: 700;
}

.details__button {
    display: block;
    background: transparent;
    width: 200px;
    height: 44px;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 auto 52px;
}

.details__copyright {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 13px;
}

.details__copyright-img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 10px;
    width: 10px;
    background: url(../img/details__copyright-img.png) no-repeat;
    background-size: contain;
}

.details__copyright-char {
    height: 4px;
    width: 4px;
    background: url(../img/details__copyright-char.png) no-repeat;
    background-size: contain;
}

.details__copyright-year p {
    height: 18px;
    width: 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    line-height: 23px;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 5px;
    margin-bottom: 4px;
}

/*Details styles end*/

/*                                           Main block styles end                         */

/*                                           Tests block styles start                         */

.tests__test-wrapper {
    width: 320px;
    height: 568px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../img/tests__bg-img.png") no-repeat center;
}

.test__progress-bar-total {
    position: absolute;
    top: 63px;
    width: 260px;
    height: 11px;
    background: #F2F3F3;
    mix-blend-mode: normal;
    opacity: 0.59;
    border-radius: 11px;
}

.test__progress-bar-passed {
    width: 24px;
    height: 11px;
    background: #3BDE7C;
    border-radius: 11px;
}

.question-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.test__question {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.05em;
    margin-bottom: 36px;
}

.mb-20px {
    margin-bottom: 20px;
}

.test__answer-bg {
    position: absolute;
    width: 320px;
    height: 50px;
    left: 50%;
    margin-left: -160px;
    background: #F2F3F3;
    opacity: 0.15;
    z-index: 1;
}

.test__answer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 320px;
    height: 50px;
    cursor: pointer;
    margin-bottom: 8px;
}

.test__answer__color-box {
    width: auto;
}

.height-40px {
    height: 40px;
}

.height-78px {
    height: 78px;
}

.test__answer.height-78px {
    margin-bottom: 19px;
}

.test__answer-text {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.05em;
    z-index: 5;
}

.test__answer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.test__answer-checkmark {
    height: 20px;
    width: 20px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    margin-right: 38px;
    margin-left: 35px;
    z-index: 5;
}

.mr-15px {
    margin-right: 15px;
}

.test__answer input:checked ~ .test__answer-checkmark {
    background: #2950C2;
    border: 1px solid black;
}

.test__answer input:checked ~ .test__answer-bg {
    background: #FFC700;
    opacity: 1;
}

.test__answer input:checked ~ .test__answer-text {
    color: black;
}

.test__next-test-button-wrap {
    position: absolute;
    bottom: 25px;
}

.test__next-test-button {
    display: block;
    width: 189px;
    height: 41px;
    border: 1px solid black;
    background: #DADADA;
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}


.test__next-test-button.enabled {
    background: radial-gradient(50% 50% at 50% 50%, #FFC700 0%, #FFC700 100%);
    color: #0D0C11;
}

.test__grid-container {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 9px;
    grid-row-gap: 12px;
}

.test__color-box {
    height: 75px;
    width: 75px;
}

.color-label {
    height: auto;
    width: auto;
    margin: 0 0;
}

.test__color-box-active {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 87px;
    width: 87px;
}

.color-label input:checked ~ .test__color-box-active {
    background: #FFC700;
}

.test__color-box_grey {
    background: #A8A8A8;
}

.test__color-box_blue {
    background: #0000A9;
}

.test__color-box_green {
    background: #00A701;
}

.test__color-box_red {
    background: #F60100;
}

.test__color-box_yellow {
    background: #FDFF19;
}

.test__color-box_brown {
    background: #A95403;
}

.test__color-box_black {
    background: #000000;
}

.test__color-box_violet {
    background: #850068;
}

.test__color-box_light-blue {
    background: #46B3AC;
}

.tests__test-8__img-container {
    height: 235px;
    width: 185px;
    background: url("../img/tests__test-8-img.png") no-repeat;
    margin-bottom: 23px;
}

.tests__test-8__grid-container {
    display: grid;
    padding-left: 35px;
    padding-right: 35px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 29px;
}

.test__option-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.test__option-checkbox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    height: 41px;
    width: 41px;
    background: #FFFFFF;
    color: black;

}

.test__option-checkbox span {
    font-size: 20px;
    color: #0D0C11;
}

.test__option-label input:checked ~ .test__option-checkbox {
    border: 6px solid #FFC700;
}

.tests__test-10__img-container {
    height: 115px;
    width: 173px;
    background: url("../img/tests__test-10-img.png") no-repeat;
    margin-bottom: 23px;
}

.font-size-18px {
    font-size: 18px;
}

.tests__test-11__img-container {
    height: 207px;
    width: 228px;
    background: url("../img/tests__test-11-img.png") no-repeat;
    margin-bottom: 24px;
}

.tests__test-11__separator {
    width: 320px;
    height: 4px;
    background: #F2F3F3;
    opacity: 0.15;
    margin-bottom: 19px;
}

.tests__test-11__grid-container {
    display: grid;
    padding-left: 17px;
    padding-right: 17px;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 8px;
}

.test__loading-block__title {
    margin-bottom: 33px;
}

.test__loading-block__title p {
    font-size: 23px;
    letter-spacing: 0.05em;
}

@keyframes loading-img_spin {
    0% {
        transform: rotate(360deg);
    }
}

.tests__loading-block__img-container {
    height: 68px;
    width: 65px;
    background: url("../img/tests__loading-block-img.png") no-repeat;
    margin-bottom: 33px;
    animation: loading-img_spin 2s ease-in 1s infinite;
}


.tests__loading-block__text-box {
    height: 60px;
    width: 276px;
}

.tests__loading-block__text-box p {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.05em;
}

/*                                           Tests block styles end                         */

/*                                           Results block styles start                         */
.results__wrapper {
    max-height: 676px;
}
.results {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    position: relative;
    top: -13px;
    min-height: 685px;
    background: url(../img/results__bg-img.png) no-repeat center;
    background-size: cover;
    padding-top: 72px;
}

.results__text-block-1 {
    margin-bottom: 14px;
}

.results__text-block-1 p {
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.results__text-block-2 {
    margin-bottom: 22px;
}

.results__text-block-2 p{
    font-size: 14px;
    line-height: 18px;
}

.results__text-block-2 p span{
    text-decoration-line: underline;
}

.results__text-block-3 {
    margin-bottom: 12px;
}

.results__text-block-3 p {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3BDE7C;
}

.results__text-block-4-wrap {
    height: 114px;
    width: 256px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #1C2741;
    border-radius: 6px;
    margin: 0 auto 15px;
}

.results__text-block-4 p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 8px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.results__text-block-5 {
    width: 256px;
    margin: 0 auto 11px;
}

.results__text-block-5 p {
    font-family: 'PT Serif', serif;
    font-size: 11px;
    line-height: 30px;
    letter-spacing: 0.1em;
    color: #3BDE7C;
}

.results__text-block-5 p span {
    font-size: 20px;
}

.results__button-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 92px;
    width: 290px;
    background: #EB1B00;
    border-radius: 5px;
    border: none;
    margin: 0 auto 107px;
    z-index: 5;
}

.results__button-wrap p {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-align: left;
    color: white;
}
.results__button {
    height: 40px;
    background: url("../img/results__text-block-6-img.png") no-repeat left;
    padding-left: 57px;
}

.results__button p {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-align: left;
    color: white;
}

.results__lightning-right {
    position: absolute;
    width: 86px;
    height: 245px;
    right: 0;
    top: 415px;
    background: url(../img/results__lightning-right.png) no-repeat;
}

.results__lightning-left {
    position: absolute;
    width: 111px;
    height: 231px;
    top: 367px;
    background: url(../img/results__lightning-left.png) no-repeat;
}

.results__response-data {
    max-width: 320px;
    line-height: 25px;
    padding: 0 15px 15px;
}

.results__response-data:last-child {
    margin-bottom: 20px;
}

.result {
    text-align: left;
    max-width: 320px;
}

.key{
    text-transform: capitalize;
}

.value {
    color: aqua;
}

.footer {
    position: absolute;
    width: 100%;
    left: 50%;
    margin-left: -160px;
    bottom: 0;
}
.footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 7px;
    line-height: 9px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}



/*                                           Results block styles end                         */

